* {
    box-sizing: border-box;
    font-family: -apple-system, 'Roboto Mono', monospace, 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}